{% extends "AppInterface\base.html" %}

{% block Titulo %} Categorias {% endblock %}

{% block Contenido %}
<div class="container px-5">
  <div class="card">
    <div class="card-header">
      <a name="" id="" class="btn btn-primary" href="{% url 'crearcategoria' %}" role="button">Crear Nueva Categoria</a>
    </div>
    <div class="card-body">
      <h4 class="card-title">Categorias</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Icono</th>
            <th>ID</th>
            <th>Categoria</th>
            <th>Detalle</th>            
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody> 
          {% for categoria in categorias %}      
          <tr>
            <td>
              
              <img src="{{categoria.icono.url}}" height="50" />

            </td>
            <td>{{categoria.id}}</td>
            <td>{{categoria.titulo}}</td>
            <td>{{categoria.detalle}}</td>            
            <td><a name="" id="" class="btn btn-info" href="{% url 'editarcategoria' categoria.id%}" role="button"> Editar</a>|<a name="" id="" class="btn btn-danger" href="{% url 'eliminarcategoria' categoria.id %}"  role="button"> Eliminar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</div>

{% endblock%}