{% extends "AppInterface\base.html" %}

{% block Contenido %} 

<div class="container px-4 px-lg-5">  
    <div class="row gx-4 gx-lg-5 align-items-center my-5">

        <div class="card border-dark mb-3" style="max-width: 20rem;">
            
            <div class="card-body text-dark">
              <h5 class="card-title">Contactanos!!</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">molinacampos@gmail.com</li>
                <li class="list-group-item">+54 1126354817</li>
                <li class="list-group-item"></li>
              </ul>
            </div>
          </div>


    </div>
</div>

{% endblock%}