{% extends "AppInterface\base.html" %}

{% load static %}
{% block Titulo %} Inicio Sesion {% endblock %}

{% block Contenido %} 
<br>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Iniciar Sesion</button>
    </form>
    <br>
    <br>
    <div class="row row-cols-4">
        <div class="col"> 
            <div class="alert alert-info" role="alert">
            Aun no te has registrado?? Te pierdes mucho contenido! 
            </div>
        </div>
        <div class="col"> 
            <a name="" id="" class="btn btn-info" href="{% url 'register' %}" role="button"> Registrate!</a>
        </div>

    </div>
</div>
{% endblock%}