{% extends "AppInterface\base.html" %}
{% load static %}

{% block Contenido %} 
<br>
    <div class="container">
      <div class="row row-cols-2">

        <div class="col">
          <div class="card">
            <div class="col-auto d-none d-lg-block">
              <img src="{% static 'assets/img/fotoLautaCampos_t8Ngrxw.jpg' %}" class="rounded mx-auto d-block" alt="..." width="200" height="200">
              </div>
            <div class="card-body">
              <h5 class="card-title">Lautaro Campos</h5>
              <p class="card-text">Tengo 21 años, soy tecnico electronico. Mi primer interes en la programacion fue con algunos lenguajes como C y C++, hice ademas hice bastantes proyectos 
                en Arduino y Pic. Python me llamo mucho mas la atencion que otros lenguajes por su aplicacion al analisis matematico y estadistico, mi meta ahora es seguir por carreras
                ligadas al tema y complementar con diferentes aplicaciones.
              </p>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'assets/img/Lautaro.png' %}" class="rounded mx-auto d-block" alt="..." width="200" height="200">
            <div class="card-body">
              <h5 class="card-title">Lautaro Molina</h5>
              <p class="card-text">Tengo 28 años, estudiante avanzado de Ingenieria Mecánica. Siempre tuve particular interes en en la informatica y su mundo, hace unos meses decidi introducirme en la programación, iniciando con Python por ser mas amigable en el aprendizaje, y amplio y creciente campo de aplicación.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>
{% endblock%}
<img src="{% static 'assets/img/03.jpg' %}" class="rounded mx-auto d-block" alt="...">