{% extends "AppInterface\base.html" %}
{% load static %}

{% block Contenido %} 

    <div class="container">
      <div class="row row-cols-2">

        <div class="col">Perfil Campos
          <div class="card">
            <div class="col-auto d-none d-lg-block">
              <img src="imagenes/fotoLautaCampos.jpg" class="rounded mx-auto d-block" alt="..." width="150" height="150">
              </div>
            <div class="card-body">
              <h5 class="card-title">Lautaro Campos</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>

        </div>
        <div class="col">Perfil Molina
          <div class="card">
            <img src="{% static 'assets/img/03.jpg' %}" class="rounded mx-auto d-block" alt="..." width="150" height="150">
            <div class="card-body">
              <h5 class="card-title">Lautaro Molina</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
{% endblock%}
<img src="{% static 'assets/img/03.jpg' %}" class="rounded mx-auto d-block" alt="...">