{% extends "AppInterface\base.html" %}

{% block Titulo %} Noticias {% endblock %}

{% block js %}
<script>
    function noticia_eliminar(id){
        Swal.fire({
            "title":"Seguro?",
            "text":"La accion no es reversible",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/eliminarnoticia/"+id+"/"
            }
        })
    }
</script>
{% endblock %}

{% block Contenido %} 

<!-- Page content-->
<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8">
          <!-- Post content-->
          <div class="card-header">
             <h2 class="text-center">Noticias</h2>
          </div>
        
        {% for noticia in noticias %}
          <article>
              <!-- Post header-->
              <header class="mb-4">
                  <!-- Post title-->
                  <h1 class="fw-bolder mb-1">{{noticia.titulo}}</h1>
                  <!-- Post meta content-->
                  <div class="text-muted fst-italic mb-2">Posted on {{noticia.fecha}}</div>
                  <!-- Post categories-->
                  <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'categorias' %}">{{noticia.categoria}}</a>
              </header>
              <!-- Preview image figure-->
              <figure class="mb-4"><img class="img-fluid rounded" src="{{noticia.imagen.url}}" alt="" /></figure>
              <!-- Post content-->
              <section class="mb-5">
                  <p class="fs-5 mb-4">{{noticia.cuerpo}}</p>
                </section>
            <a name="" id="" class="btn btn-info" href="{% url 'editarnoticia' noticia.id %}" role="button"> Editar</a>|
            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarnoticia' noticia.id %}" onclick="noticia_eliminar({ id })" role="button"> Eliminar</a>
            </article>

        {% endfor %}
                  <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                  <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                  <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p>
              </section>
          </article>
          <!-- Comments section-->
          <section class="mb-5">
              <div class="card bg-light">
                  <div class="card-body">
                      <!-- Comment form-->
                      <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                      <!-- Comment with nested comments-->
                      <div class="d-flex mb-4">
                          <!-- Parent comment-->
                          <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                          <div class="ms-3">
                              <div class="fw-bold">Commenter Name</div>
                              If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                              <!-- Child comment 1-->
                              <div class="d-flex mt-4">
                                  <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                  <div class="ms-3">
                                      <div class="fw-bold">Commenter Name</div>
                                      And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                  </div>
                              </div>
                              <!-- Child comment 2-->
                              <div class="d-flex mt-4">
                                  <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                  <div class="ms-3">
                                      <div class="fw-bold">Commenter Name</div>
                                      When you put money directly to a problem, it makes a good headline.
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Single comment-->
                      <div class="d-flex">
                          <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                          <div class="ms-3">
                              <div class="fw-bold">Commenter Name</div>
                              When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
          <!-- Search widget-->
          <div class="card mb-4">
              <div class="card-header">Bucar Noticia</div>
              <div class="card-body">
                  <div class="input-group">
                    <a name="" id="" class="btn btn-primary" href="{% url 'buscarnoticia' %}" role="button">Busquemos!!</a>
                  </div>
              </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">Crear Noticia</div>
            <div class="card-body">
                <div class="input-group">
                    <a name="" id="" class="btn btn-primary" href="{% url 'crearnoticia' %}" role="button">Vamos a Crearla!!</a>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}

