{% extends "AppInterface\base.html" %}

{% block Titulo %} Noticias {% endblock %}

{% block js %}
<script>
    function noticia_eliminar(id){
        Swal.fire({
            "title":"Seguro?",
            "text":"La accion no es reversible",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545",
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href="/eliminarnoticia/"+id+"/"
            }
        })
    }
</script>
{% endblock %}

{% block Contenido %} 

<!-- Page content-->
<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8">
          <!-- Post content-->
          <div class="card-header">
            <h2 class="text-center">Noticias</h2>
          </div>
        
        
          <article>
              <!-- Post header-->
              <header class="mb-4">
                  <!-- Post title-->
                  <h1 class="fw-bolder mb-1">{{noticias.titulo}}</h1>
                  <!-- Post meta content-->
                  <div class="text-muted fst-italic mb-2">Posted on {{noticias.fecha}}</div>
                  <!-- Post categories-->
                  <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'categorias' %}">{{noticia.categoria}}</a>
              </header>
              <!-- Preview image figure-->
              <figure class="mb-4"><img class="img-fluid rounded" src="{{noticias.imagen.url}}" alt="" /></figure>
              <!-- Post content-->
              <section class="mb-5">
                  <p class="fs-5 mb-4">{{noticias.cuerpo|safe}}</p>
                </section>
            <a name="" id="" class="btn btn-info" href="{% url 'editarnoticia' noticias.id %}" role="button"> Editar</a>|
            <a name="" id="" class="btn btn-danger" href="{% url 'eliminarnoticia' noticias.id %}" onclick="noticia_eliminar({ id })" role="button"> Eliminar</a>
            </article>
      </div>
  </div>
</div>

{% endblock %}

