{% extends "AppInterface\base.html" %}

{% block Contenido %} 

<style type="text/css">
  .carousel-inner img{
    width: 100%;
    height: 400px;
  }
</style>

<div class="container px-4 px-lg-5">  
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{noti1.imagen.url}}"  class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{noti1.titulo}}</h5>
              <p>{{noti1.subtitulo}}</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{noti2.imagen.url}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{noti2.titulo}}</h5>
              <p>{{noti2.subtitulo}}</p>
            </div>          
          </div>
          <div class="carousel-item">
            <img src="{{noti3.imagen.url}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{noti3.titulo}}</h5>
              <p>{{noti3.subtitulo}}</p>
            </div>
          </div>          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguente</span>
        </button>
    </div>
  </div>
</div>

<div class="row mb-2">
  {% for noticia in noticias %}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{noticia.categoria}}</strong>
        <h3 class="mb-0">{{noticia.titulo}}</h3>
        <div class="mb-1 text-muted">{{noticia.fecha}}</div>
        <p class="card-text mb-auto">{{noticia.subtitulo}}</p>
      </div>
      <div class="col p-2 d-flex flex-column position-static">
        <img src="{{noticia.imagen.url}}" height="200" />
        <a href="{% url 'noticiasdetalle' noticia.id %}" class="stretched-link">Leer mas...</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock%}